main{
    grid-area: main;
    background-color: #5069f2;
    max-width: 65vw;
    max-height: 70vh;
    width: 65vw;
    height: 70vh;
    border-style: groove;
    border-color: #160092;
    border-radius: 1%;
    padding: 2% 2%;
    margin: 2% 2% 8% 3%;
}
main > h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 2vw;
    margin-block-start: 0.1em;
    margin-block-end: 0em;
    padding-left: 35%;
}

main > ul{
    height: 55vh;
    overflow: scroll;
}
main > ul > li{
    list-style: none;
    background-color: #daf3ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    width: max-content;
    max-width: 52vw;
    border-radius: 5vh;
    padding: 1% 3%;
    margin: 0% 2% 1.5% 3%;
}

#mensaje{
    width: 45vw;
    height: 7vh;
    max-width: 85%;
    padding: 2% 4%;
    margin: 0.2% 5%;
    box-sizing: border-box;
    border: 0.2vw solid #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    -webkit-transition: 0.5s;
    transition: .2s;
    outline: none;
}
#mensaje:focus{    
    border: 0.4vw solid #2308be;
}

.enviar{
  display: inline-block;
  padding: 15px 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #5069f2;
  background-color: #daf3ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #e6e6e6;
}
.enviar:hover {
    background-color: #2308be;
    color: #daf3ff;
}
.enviar:active {
  background-color: #daf3ff;
  box-shadow: 0 2px #008cff;
  color: #008cff;
  transform: translateY(2px);
}