footer{
    grid-area: footer;
    text-align: center;
    padding: 0% 1%;
}
footer > h4{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 3vw;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
}
footer > h5{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 2vw;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}
footer > h6{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 1.2vw;
    margin-block-start: 0.4em;
    margin-block-end: 0.2em;
}

footer > div{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 2vw;
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
    
}
